.page-header {
  height: 400px;
  max-width: 550px;
  background-color: palegoldenrod ;
  font-family: source sans pro;
}

.avatar img {
  display: block;
  margin: auto;  
}

h2 {
  display: block;
  margin-top: auto;
  text-align: center;
}