header {
  height: 400px;
  width: 100%;
  position: relative;
  background-color: #9dd13cef ;
  font-family: source sans pro;
}

.avatar img {
display: block;
margin: 0 auto;
margin-top: 120px;
  
}

.div {
  position: relative;
  /* z-index: 2; */
  margin-top: auto;
  text-align: center;
  background-color: #d614dd;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}