html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  float: left;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  /* z-index: 2; */
  background-color: #4056A1;
  color: #ffffff;
  font-family: Bungee;
  padding: 1.5em;
  left: 0;
}

.write-tweet {
  float: right;
  right: 0;
  /* z-index: 1; */
  font-size: 20px;
  font-family: Source Sans Pro;
  height: 100px;
}