html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  top: 0;
  height: 120px;
  width: 100%;
  background-color: red;
  color: #ffffff;
  font-family: Bungee;
  padding: 1.5em;
  position: sticky;
}

.container {
  display: flex;
  justify-content: space-between;
}

.new-tweet-button {
  background: none;
  border: none;
  outline: none;
}

.new-tweet-button:hover {
  background:none;
  border: none;
  cursor:pointer;
}

.logo {
  font-size: 1.5em;
}