.counter {
  float: right;
}
.new-tweet {
  font-family: source sans pro;
  width: 100%;
}
.tweet-text {
  border-bottom: 3px solid black;
  width: 100%;
  display: block;
  overflow: hidden;
  border-style: inset;
  margin-bottom: 10px;
  border-left: none;
  border-top: none;
  border-right: none;
  background: #9ba7a81e;
}
.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: #2058f5ef;
  border-radius: 5px;
  border: none;
}
.counter.red{
  color: rgb(255, 0, 0);
}

.tweet{
  margin-top: 20px;
}

.tweet header {
  display: inline-block;
}

.h-name {
  display: inline-block;
  margin: auto;
  padding-top: 10px;
  font-size: 15px
  /* float: left; */
}
article.tweet:hover .h-aname {
  color: red;
  opacity: 1;
}
.h-aname {
  float: right;
  padding-right: 25px;
  font-size: 15px;
  opacity: 0;
}
/* .h-aname:hover {
  display: inline-block;
  float: right;
  padding-right: 25px;
  font-size: 15px;
  box-shadow: 10px 10px 5px;

} */
/* IMG IS NOT WORKING WHY? */
.h-image  {
 vertical-align: middle; 
  height: 60px;
  width: 60px;
  float: left;
  padding-top: 10px;
  padding-left: 10px;

}

.tweet p {
  border-bottom: 2px black;
  border-style: solid;
  border-top:none;
  border-left: 10px;
  border-right: 1px;
  padding-bottom: 2px;
  font-size: 20px;
  padding-left: 5px;
}

.footer-left {
  font-size: 20px;
  font-family: source sans pro, sans-serif;
  float: left;
  margin-top: -50px;
  padding-bottom: 10px;
  padding-left: 5px;  
}

.footer-right {
  float: right;
  vertical-align: bottom;
  margin-top: -22px;
  color: blue;
  padding-right: 10px;

}

/* footer-right .fa fa-flag,fa fa-retweet,fa fa-heart {
  margin-top: 50px;
  margin-bottom: 50px;



} */
.foot {
  margin-top: 10px;
  display: block;
}

article.tweet {
  border: 3px solid black;
  font-weight:500;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.5;
  
}
article.tweet:hover {
  border: 3px solid black;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 8px;
  opacity: 1.0;

  /* opp */
}
article.tweet h1{
  color: blue;
}
article.tweet header{
  color: red;
  font-family: source sans pro;
  background-color: #f4f1ec;
  height: 100px;
}